.containe {
    background-image: url('https://st2.depositphotos.com/3600153/6933/v/450/depositphotos_69333143-stock-illustration-open-book-with-boy-and.jpg');
    /* background-repeat: no-repeat; */
    height: 400px;
}

/* .sub-conteant {
    background-image: url('https://cdn.education.com/files/static/homepage/new-fall-2020/Roly-Rocket-1600.png');
    height: 400px;
} */